<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
      integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
      crossorigin="anonymous"
    ></script>
    <title>Ateja FM</title>
  </head>
  <body>
    <div class="row justify-content-center m-3">
      <div class="col-xs-10 col-sm-6">
        <h2>Ateja FM</h2>
        <% if(success === "true") { %>
        <div class="alert alert-success" role="alert">Updated!</div>
        <% } else if(success === "false"){ %>
        <div class="alert alert-danger" role="alert">Failed!</div>
        <% } %>
        <form 
          id="config-form" 
          ref="config-form" 
          action="/update" 
          method="POST" 
          encType="multipart/form-data">
          <div class="form-group">
            <label for="streamUrl">Stream URL</label>
            <input
              name="url"
              value="<%= url %>"
              type="text"
              class="form-control"
              id="streamUrl"
              placeholder="https://some-stream"
            />
          </div>
          <div class="form-group">
            <label for="file">Loop Sound</label>
            <input 
              class="form-control-file"
              type="file"
              name="file" 
              id="file"/>
              <small class="form-text text-muted">The uploaded audio will be used as loop audio.</small>
          </div>
          <div class="form-group">
            <div class="form-check">
              <input
                <% if(isStream) { %>
                  checked
                <% } %>
                name="isStream"
                type="checkbox"
                class="form-check-input"
                id="playStream"
              />
              <label class="form-check-label" for="exampleCheck1"
                >Stream audio</label
              >
              <small class="form-text text-muted">If unchecked, selected audio file will be played.</small>
            </div>
          </div>
          <div class="form-group">
            <label for="audioFiles">Selected Loop Audio</label>
            <select class="form-control" id="audioFiles" name="audioFile">
              <% for(var i=0; i < audioFiles.length; i++) { %>
                <option 
                  <% if(filename === audioFiles[i]) { %>
                    selected
                  <% } %>
                  >
                  <%= audioFiles[i] %>
                </option>
              <% } %>
            </select>
            <small class="form-text text-muted">No effect if uploading a file.</small>
            <small id="fileHelp" class="form-text text-muted">Restart required to take effect.</small>
          </div>
          <button type="submit" class="btn btn-block btn-primary mt-2">
            Update
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
