@keyframes slideSlide {
  0% {
    right: -10em;
  }
  25% {
    right: 1em;
  }
  50% {
    right: 1em;
  }
  100% {
    right: -50%;
  }
}

.notification {
  position: fixed !important;
  right: -50%;
}

.notify {
  z-index: 100;
  top: 1em;
  margin: auto;
  text-align: center;
  animation: slideSlide 4s ease forwards;
}
