[Unit]
Description=Ateja FM Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/nodejs /home/pi/wc-node/dist/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target